<h3>All Todos: </h3>
<div class="btn-group" role="group">
    <a class="btn btn-primary" routerLink="/new">New Todo</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Status</th>
            <th scope="col">Due Date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let todo of todos" routerLink="/detail/{{todo.id}}">
            <td>{{todo.title}}</td>
            <td>{{todo.status}}</td>
            <td>{{todo.dueDate | date:'yyyy-MM-dd'}}</td>
        </tr>
    </tbody>
</table>