<h3>Todos with status : {{status}} </h3>
<div class="btn-group" role="group">
    <button class="btn btn-primary" (click)="goBack()">go back</button>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Status</th>
            <th scope="col">Due Date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let todo of todos" routerLink="/detail/{{todo.id}}">
            <td>{{todo.title}}</td>
            <td>{{todo.status}}</td>
            <td>{{todo.dueDate}}</td>
        </tr>
    </tbody>
</table>