<div class="btn-group" role="group">
    <button class="btn btn-primary" (click)="goBack()">go back</button>
</div>

<form>
    <div class="form-group">
        <label for="todoTitle">Title</label>
        <input [(ngModel)]="title" type="text" class="form-control" id="todoTitle" name="title" placeholder="title">
    </div>
    <div class="form-group">
        <label for="todoDueDate">Due Date</label>
        <input [(ngModel)]="dueDate" type="date" class="form-control" name="dueDate" id="todoDueDate">
    </div>
    <button class="btn btn-primary" (click)="save()">Save</button>
</form>